<nav>
  <a href="#">
    <img src="./assets/imgs/brand.svg" alt="Logomarca da Rocket.sect">
  </a>

  <ul>
    <li>
      <a href="#">Inicio</a>
    </li>
    <li>
      <a href="#">Serviço</a>
    </li>
    <li>
      <a href="#">Contato</a>
    </li>
  </ul>
</nav>