* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --primary-color: #2F2E41;
  --special-color: #00BFA6;
  --destak-color: #C2C2C2;

  --secondary-font: 'JetBrains Mono', monospace;
  --comum-font: 'Open Sans', sans-serif;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  font-size: 1.6rem;
  font-family: var(--comum-font);
  background: var(--primary-color);
}

.page {
  max-width: 108rem;
  margin: 0 auto;
  padding-top: 7rem;
}

a:hover {
  color: var(--primary-color);
  background: #00bfa667;
  padding: 0 .8rem;
  border-radius: .4rem;
  transition: 0.2s;

}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6.4rem;
}

nav ul a {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.8rem;
  opacity: 0.9;
  text-shadow: 0px .4rem .4rem rgba(0, 0, 0, 0.25);
  color: #fff;
  text-decoration: none;
}

main {
  margin-top: 10.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7.7rem;
}

section {
  display: flex;
  flex-direction: column;

}

h1 {
  color: #fff;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4rem;
  margin-bottom: 6rem;
  width: 608px;
}

.text {
  width: 60.4rem;
  height: 16.8rem;
  text-align: center;
  gap: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  color: var(--destak-color);
  line-height: 2.8rem;
}

h1 span,
span {
  color: var(--special-color);
}

.line {
  height: 0;
  border: 1px solid #00BFA6;
  width: 56.8rem;
  margin-bottom: 2.7rem;
}


footer {
  width: 56.8rem;
  height: 5.5rem;
  margin: 15.7rem auto 0;
  text-align: center;

}

footer a,
footer p {
  color: #fff;
  text-decoration: none;
}


#cadeado {
  position: fixed;
  left: 0;
  bottom: 0;
}