<!DOCTYPE html>
<html lang="pt-br">
<%- includes('../partials/head.ejs') %> 
<body>
  <div class="page">
    <%- includes('../partials/nav.ejs') %> 

    <%- includes('../partials/main.ejs') %> 

    <%- includes('../partials/footer.ejs') %> 

    <img id="lock" src="./assets/imgs/lock.svg" alt="Desenho de um cadeado posicionado no canto inferior esquerdo">
 
  </div>
</body>
</html>